*.pyc
*.o
*.suo
*.ncb
*.user
*.sdf
*.obj
*.idb
*.pdb
Debug
Release
x64
Libraries/freetype/Debug
Libraries/freetype/Release
Libraries/freetype/x64
Libraries/glfw-3.0.3/Debug
Libraries/glfw-3.0.3/Release
Libraries/glfw-3.0.3/x64
Libraries/zlib/Debug
Libraries/zlib/Release
Libraries/zlib/x64